# =========================
# Секреты и конфигурация
# =========================
.env
.env.local
.env.*.local

# =========================
# Данные БД
# =========================
data/db/

# =========================
# Данные Nextcloud
# =========================
data/config/
data/apps/

# =========================
# Логи
# =========================
*.log
logs/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db
desktop.ini

# =========================
# Editors
# =========================
.vscode/
.idea/
*.swp
*.swo
*~
